:root {
    --primary-blue: #09386f;
    --accent-gold: #E6D847;
    --text-grey: #cbcbcb;
    --text-dark: #333333;
    --white: #ffffff;
    --font-main: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--white);
    color: var(--text-dark);
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%; 
    display: block; 
}


h1, h2, h3 {
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
}
