/* Estilo principal para la página */
.page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%; 
    min-height: 100vh; /* Asegurar que la altura mínima sea del 100% de la pantalla */
    box-sizing: border-box; /* Incluir padding y border en los cálculos de ancho y alto */
    padding: 20px;
    background-color: #fff; /* Fondo blanco para toda la página */
}

/* Flexbox para centrar contenido dentro de la cuadrícula */
.contact-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/* Ajustes de la sección del mapa */
.mapa {
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 10%; 
    box-sizing: border-box; 
}

.mapa iframe {
    width: 100%; 
    height: 100%; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Ajustes para la barra lateral de metadatos */
.company-metadata-sidebar-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-metadata-sidebar-wrapper > .logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.company-metadata-sidebar-wrapper > .company-details-wrapper {
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.company-metadata-sidebar-wrapper > .company-details-wrapper i {
    color: #E6D847;
    margin-right: 10px;
}

/* Responsividad para pantallas medianas (tablets) */
@media screen and (max-width: 768px) {
    .page-container {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }

    /* Mover el mapa debajo de la información */
    .company-metadata-sidebar-wrapper {
        order: 1; /* Información de la empresa primero */
    }

    .mapa {
        order: 2; /* Mapa después de la información */
        width: 100%;
        padding: 15px;
        height: 300px; /* Altura ajustada en pantallas más pequeñas */
    }

    .mapa iframe {
        height: 100%; /* Asegurar que el iframe use todo el espacio */
    }
}

/* Responsividad para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
    .company-details-wrapper i {
        font-size: 1.2em;
    }

    .company-details-wrapper div {
        font-size: 14px;
    }

    .mapa {
        height: 250px; /* Ajuste de la altura del mapa para móviles */
    }

    .mapa iframe {
        height: 100%;
    }
}
