.footer-structure-wrapper {
    background-color: #09386f;
    color: #cbcbcb;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 50px 0;
    margin-top: -4px; 
}

.footer-image img {
    height: 80px;
    width: auto;
    margin-bottom: 20px; 
}

.contact-hours-wrapper .hours {
    font-size: 1.2em;
    color: #cbcbcb;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.links-wrapper-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin: 20px 0;
    width: 100%;
    max-width: 600px; 
}

.links-wrapper-footer a {
    color: #cbcbcb;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.links-wrapper-footer a:hover {
    color: #E6D847;
    transform: scale(1.1);
}


.icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
    margin: 20px 0;
}

.icons i {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: #E6D847;
}

.copyright-wrapper {
    font-size: 0.8em;
    color: #858585;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .links-wrapper-footer {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    
    .icons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .links-wrapper-footer {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    .icons {
        grid-template-columns: repeat(3, 1fr);
    }
}
