.footer-structure-wrapper {
    background-color: #09386f;
    color: #cbcbcb;
    font-family: 'Lato', sans-serif; /* Cambio de Barlow Condensed a Lato */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Esta línea de código me ayuda a que la imagen esté encima de todo */
    height: 250px;
    padding: 100px 150px;
    margin-top: -4px; /* Darle este valor para quitar la línea blanca que exista entre el mapa y el pie de página */
}
.footer-structure-wrapper > .footer-image img {
    height: 80px;
    width: auto;
 }

.footer-structure-wrapper > .contact-hours-wrapper > .hours {
    font-size: 0.8em;
    color: #cbcbcb;
    display: flex;
    position: center;
    text-transform: uppercase; /* Este código nos deja poner en mayúscula el texto escrito en HTML */
}


.footer-structure-wrapper > .links-wrapper-footer {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center; 
}

.footer-structure-wrapper > .links-wrapper-footer a {
    margin: 0 15px;
    color: #cbcbcb;
    transition: 0.8s;
    text-decoration: none;
}
.footer-structure-wrapper > .links-wrapper-footer a:hover {
    color: gold;
    letter-spacing: 2px;
}
.footer-structure-wrapper > .icons {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 42px;
    line-height: 4;
}
.footer-structure-wrapper > .icons i {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
}
.footer-structure-wrapper > .icons i:hover {
    color: gold;
    letter-spacing: 2px;
}
.copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}
