.form > .form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form input {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif; /* Cambio a Lato */
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #09386f;
    width: 100%;
    display: block;
    transition: all 0.3s;
}

.form input:focus {
    outline: none; /* En este código estamos haciendo que las etiquetas del formulario tengan ese contorno dorado cuando se selecciona para rellenar */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #E6D847;
}   

.form textarea {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 3px;
    border: 3px solid #09386f;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif; /* Cambio a Lato */
    color: inherit;
    padding: 1.5rem 2rem;
    transition: all 0.3s;   
}
.form textarea:focus {
    outline: none; 
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    border: 3px solid #E6D847;
}

/* Cómo actualizar el valor del marcador de posición. */
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #09386f;
}

.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder {
    color: transparent; /* Esta es la forma con la que eliminamos el nombre dentro de la caja del formulario y ponemos a que salga el de abajo cuando se clickea */
}

.form label {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif; /* Cambio a Lato */
    font-weight: 700; /* Corregido a 700, no se usa px para el peso */
    margin-left: 2rem;
    margin-top: 0.8rem;
    display: block;
    transition: all 0.3s;
    color: #E6D847;
    /* Siempre tenemos que trabajar y tener en cuenta la visibility y la opacity */
    visibility: hidden;
    opacity: 0;
}

.form input:focus + label, .form textarea:focus + label {
    opacity: 1; /* opacity significa transparencia */
    visibility: visible;
    transform: translateY(1rem); /* Este es el que hace que el nombre en cuadro desaparezca y aparezca debajo en formulario */
}
