/*Styles for hero section*/
.hero-section {
    background-image: url(../images/Backgrounds/ugeragateam.jpg);
    padding: 100px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;/*Este evita que la imagen se duplique o se vea varias veces si se aleja el zoom de la pagina*/
    background-size: cover;/*Se uaa mucho ya que hace ver la imagen centrada y cortada para que se vea el centro, lo mas importante*/
}

.hero-section > .top-heading {
    padding: 1px 5px;
    background-color: #17096f;  /*Adding Text Overlays On Top of the Parallax Image*/
    color: #cbcbcb;
    width: 200px;
    border-radius: 2px;
    transition: 1s;
}

.hero-section > .top-heading > h1:hover {
    border: 5px solid gold;
}

/*Features section styles */
.features-section {
    height: 600px;
    background-image: url(../images/Backgrounds/fondo\ medio\ pagina\ index.jpg);
    background-color: #cea135;
    border-top: 4px solid #09106f;
    border-bottom: 4px solid #09106f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Condensed' sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgb(0, 0, 0, 0.58); /*Codigo para dar sombra de abajo a la imagen*/
    background-size:cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}


.features-section > .columns-wrapper > .column {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 200px; /* Altura fija */
    object-fit: cover; /* Mantiene el aspecto de la imagen y la ajusta */
    border-radius: 10px; /* (Opcional) Bordes redondeados */
}

.column img {
    width:80%; /* La imagen ocupará todo el ancho del contenedor */
    height: 200px; /* Altura fija */
    object-fit: cover; /* Mantiene el aspecto de la imagen y la ajusta */
    border-radius: 10px; /* (Opcional) Bordes redondeados */
}


.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}
.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}
.features-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}
.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}