.navigation-wrapper {
    height: 190px;
    background-color: #09386f;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 60px 100px;
}
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;

}
.navigation-wrapper > .left-column > .icon {
    font-size: 2em;
}
.navigation-wrapper > .left-column > .icon i {
    margin-right: 15px;
}
.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 10px;
}
.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Barlow Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}
.links-wrapper > .nav-link a {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}
.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.banner-image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 50px; 
}

.banner-image img {
    width: 100px;
    height: auto;
    
}
.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Añadido: Espacio entre los enlaces */
}

.links-wrapper > .nav-link {
    width: auto;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 15px; /* Bordes redondeados para el contenedor de cada enlace */
}

.links-wrapper > .nav-link a {
    font-family: 'Barlow Condensed', sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: color 0.3s ease, letter-spacing 0.3s ease, border-radius 0.3s ease, transform 0.3s ease; /* Añadido transform a la transición */
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 15px; /* Bordes redondeados para el enlace */
    position: relative;
    z-index: 1;
}

.links-wrapper > .nav-link a:hover::before {
    width: 100%;
}

.links-wrapper > .nav-link a:hover {
    color: #E6D847;
    letter-spacing: 2px;
    transform: scale(1.1); /* Aumenta el tamaño del enlace un 10% */
}

/*<!-- Menú de Categorías --> */

/* Contenedor del menú centrado */
.links-wrapper2 {
    display: flex;
    justify-content: center; /* Centra el menú horizontalmente */
    margin: 20px 0;
    position: relative;
    z-index: 1000;
}

/* Botón del menú */
.dropbtn {
    background-color: #005b96;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1001;
}

/* Contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center; /* Asegura que el contenido esté centrado */
}

/* Contenido del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    border-radius: 5px;
    text-align: left; /* Opcional: para alinear el texto a la izquierda */
}

/* Cada enlace dentro del menú desplegable */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Slab', serif;
    transition: background-color 0.3s ease;
}

/* Efecto hover en cada enlace */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar el menú desplegable al hacer hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}
.navigation-wrapper > .right-column > #address-wrapper {
    font-family: 'Barlow Condensed', sans-serif;
    align-items: right;
}

.navigation-wrapper > .right-column > #address-wrapper a {
    color: darkgray;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .right-column > #address-wrapper a:hover {
    color: #cea135
}
.navigation-wrapper > .right-column > .contact-icon {
        margin-left: 15px;
        font-size: 2em;
}
.navigation-wrapper > .right-column > .contact-icon a {
 color: #cbcbcb;
 transition: 0.5s;
}
.navigation-wrapper > .right-column > .contact-icon a:hover {
    color: #cea135; 
}


