.navigation-wrapper {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 60px; /* Simplificado padding */
    background-color: #09386f;
    color: #cbcbcb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.left-column, .right-column {
    flex: 1;
    text-align: center;
}

.center-column {
    flex: 2;
    text-align: center;
}

.left-column h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
}

.banner-image img {
    max-width: 100px;
    height: auto;
    vertical-align: middle; 
}

#address-wrapper {
    font-style: normal;
    margin-bottom: 10px;
}

#address-wrapper a {
    text-decoration: none;
    font-size: 14px;
    color: #cbcbcb;
    line-height: 1.5;
    transition: color 0.3s ease;
}

#address-wrapper a:hover {
    color: #E6D847;
}

.contact-icon {
    font-size: 2em;
}

.contact-icon a {
    color: #cbcbcb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-icon a:hover {
    color: #E6D847; 
}

.button-column {
    background-color: #09386f;
    padding-bottom: 15px; 
    margin-top: -4px; 
    display: flex;
    justify-content: center;
}

.links-wrapper {
    display: flex;
    justify-content: space-between; 
    list-style: none; 
    padding: 0;       
    margin: 10px 0 0 0;
    width: 50%; 
    max-width: 1200px; 
}

.nav-link {
    margin: 0 15px; 
}

.nav-link a {
    text-decoration: none;
    font-size: 16px;
    color: #cbcbcb;
    display: block; 
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link a:hover {
    color: #E6D847;
    transform: scale(1.1);
}

.nav-link a[aria-current="page"] {
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #E6D847;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    border-radius: 5px;
    text-align: left; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Lato', sans-serif;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
