.skewed-header {
    position: relative;
    height: 200px;
    overflow: hidden;
}
.skewed-header2 {
    position: relative;
    height: flex;
    overflow: hidden;
}

.skewed-header > .header-bg {
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: left;
    filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
    background-color: #E6D847;
    color: #09386f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}
