/*Skwed header o encabezado sesgado*/
.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.skewed-header2 {
    position: relative;
    height: flex;
    overflow: hidden;
}

.skewed-header > .header-bg {
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform-origin: left;
    filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;/*Este bloque nos permite ajustar el contenido de links y palbras que queremos para el encabezado*/
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
    background-color: #cea135;
    color: #09386f;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 350px; /*Con este editamos fondo del nombre de la pagina about us*/
    height: auto;
    padding: 10px;
    text-align: center;
}

/* Estilos para el carrusel */
.carousel-container {
    position: relative;
    width: 80vw; /* 80% del ancho de la ventana */
    height: 50vh; /* 50% de la altura de la ventana */
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%; /* Se ajusta al 100% del contenedor */
    height: 100%; /* Ocupa toda la altura */
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin perder la proporción */
    border-radius: 15px;
    flex-shrink: 0; /* Asegura que cada imagen ocupe el 100% del ancho sin encoger */
}

/* Botones de navegación del carrusel */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    user-select: none;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
