.squares-wrapper {
    display: flex;
    justify-content: center;
    margin: 60px 20px; 
}

.squares {
    width: 100%;
    max-width: 1000px;
}

.square {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px; 
    margin-bottom: 60px; 
    align-items: center; 
}

.img-wrapper img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    display: block; 
}

.square-text-wrapper {
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
    letter-spacing: 1px;
    line-height: 1.8;
}

.square-text-wrapper h2 {
    color: #E6D847; 
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}


.square-text-wrapper h3 {
    color: #E6D847; 
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.director-name {
    font-size: 1.2rem;
    color: #09386f; 
    margin-bottom: 15px;
}
